<%- include('../includes/head.ejs') %>
</head>
<body>
    <%-include('../includes/navigation.ejs') %>
    <main>
        <% if(orders.length<=0) {%>
        <h1>You haven't placed any order yet!</h1>
        <% } else{%>
            <ul class="orders">
                <% orders.forEach(order=>{ %>
                    <li class="orders_item">
                        <h4>Order# <%= order._id %></h4>
                        <ul class="orders_products">
                            <% order.items.forEach(item=>{ %>
                                <li class="orders_products-item"><%=item.title %> (<%= item.quantity %>)</li>
                            <%})%>
                            <div class="address">
                                <h3>address: <%=order.address%></h3>
                            </div>
                        </ul>
                    </li>
                <%}) %>
            </ul>
        <%}%>
    </main>

<%- include('../includes/end.ejs') %>